<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.makimov.retailproducttiresfortochki/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.makimov.retailproducttiresfortochki.view.user/UserListView.title"/>
        <item view="Warehouse.list"
              title="msg://com.makimov.retailproducttiresfortochki.view.warehouse/warehouseListView.title"/>
        <item view="TireStock.list"
              title="msg://com.makimov.retailproducttiresfortochki.view.tirestock/tireStockListView.title"/>
        <item view="Tire.list" title="msg://com.makimov.retailproducttiresfortochki.view.tire/tireListView.title"/>
    </menu>

</menu-config>